
binner/testdata/illumina_reads_5_R1_trimmed.fq
binner/testdata/illumina_reads_5_R2_trimmed.fq
binner/testdata/maxbin/maxbin_bin_out.contig.tmp
binner/testdata/maxbin/maxbin_bin_out.contig.tmp.abund1
binner/testdata/maxbin/maxbin_bin_out.contig.tmp.frag.faa
binner/testdata/maxbin/maxbin_bin_out.contig.tmp.hmmout
binner/testdata/maxbin/maxbin_bin_out.contig.tmp.hmmout.FINISH
binner/testdata/maxbin/maxbin_bin_out.log
binner/testdata/maxbin/maxbin_bin_out.tooshort
binner/testdata/maxbin/scaffolds.fasta.counts
binner/testdata/maxbin/scaffolds.fasta.idxstats
binner/testdata/metabat/metabat_depth.txt
binner/testdata/metabat/metabat_paired.txt
binner/testdata/scaffolds.fasta
binner/testdata/scaffolds.fasta.bam
binner/testdata/scaffolds.fasta.bam.bai
binner/testdata/scaffolds.fasta.index.1.bt2
binner/testdata/scaffolds.fasta.index.2.bt2
binner/testdata/scaffolds.fasta.index.3.bt2
binner/testdata/scaffolds.fasta.index.4.bt2
binner/testdata/scaffolds.fasta.index.rev.1.bt2
binner/testdata/scaffolds.fasta.index.rev.2.bt2
binner/testdata/scaffolds.fasta.sam
python-scripts/
reslp.github.io/
lichen_genomics/
blog/
concat.py/
correlate/
genomics/
dockerfiles/
binner/README.md
binner/README.md
binner/README.md
dist/
__pycache__/
build/
