
testdata/illumina_reads_5_R1_trimmed.fq
testdata/illumina_reads_5_R2_trimmed.fq
testdata/maxbin/maxbin_bin_out.contig.tmp
testdata/maxbin/maxbin_bin_out.contig.tmp.abund1
testdata/maxbin/maxbin_bin_out.contig.tmp.frag.faa
testdata/maxbin/maxbin_bin_out.contig.tmp.hmmout
testdata/maxbin/maxbin_bin_out.contig.tmp.hmmout.FINISH
testdata/maxbin/maxbin_bin_out.log
testdata/maxbin/maxbin_bin_out.tooshort
testdata/maxbin/scaffolds.fasta.counts
testdata/maxbin/scaffolds.fasta.idxstats
testdata/metabat/metabat_depth.txt
testdata/metabat/metabat_paired.txt
testdata/scaffolds.fasta
testdata/scaffolds.fasta.bam
testdata/scaffolds.fasta.bam.bai
testdata/scaffolds.fasta.index.1.bt2
testdata/scaffolds.fasta.index.2.bt2
testdata/scaffolds.fasta.index.3.bt2
testdata/scaffolds.fasta.index.4.bt2
testdata/scaffolds.fasta.index.rev.1.bt2
testdata/scaffolds.fasta.index.rev.2.bt2
testdata/scaffolds.fasta.sam
